<div class="row pb-3 item {{ myCollectionId }}-collection-item border-info">

    <div class="col-3">{{ form_widget(collection.name) }}</div>

    <div class="col-1">
        <button type="button" class="btn btn-outline-primary remove-collection-item">
            <i class="fa fa-minus"></i>
        </button>
    </div>

</div>