/* ui-datepicker input 
 Your original input which holds your original id 
 The width of this input is 0 and will remain that way, but by adjusting height you can influence the vertical position of the ui-datepicker */
.mwd_datepicker_input {
  float: left;
  height: 100%;
}

/* mwd_datepicker input 
 The class .mwd_datepicker is given to the wrapper around the the added input elements time and value
 The only visible input in this wrapper is .mwd_datepicker_value which holds the value you see on screen
 With this css you can adjust the looks of your visible input
 By adjusting width, float and margins you can influence the horizontal position of the ui-datepicker */
.mwd_datepicker {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
}
.mwd_datepicker .mwd_datepicker_value {
  float: left;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 0 0 3px;
}
#ui-datepicker-div {
	margin: 2px 0 0 0;
}

/* ui-datepicker default width height 
 This is a hidden div which holds the inital width and height of the ui-datepicker
 It is necessary to preserve these values because height and width of the time- and monthpickers are calculated on base of the below values */
.mwd-ui-datepicker {
  width: 250px;
  height: 230px;
}

/* ui-datepicker style a bit nicer */
.ui-datepicker {
  font: normal 11px verdana, futura, arial, helvetica;
  line-height: 20px;
}
.ui-datepicker table {
  border: 0;
  margin-bottom: 0;
}
.ui-datepicker-calendar a.ui-state-default {
  padding: 0 10px 0 0;
}
.ui-datepicker-row-break {
  font-size: 100%;
}
.ui-datepicker thead th {
  padding: 2px 0;
  background: transparent;
  color: #000000;
}
.ui-datepicker-buttonpane {
  position: absolute;
  bottom: 0;
}
.ui-datepicker-buttonpane button.ui-state-default {
  padding: 0 5px;
  height: 18px;
  line-height: 14px;
  float: left;
}
.ui-datepicker-buttonpane button.ui-datepicker-close {
  float: right;
}
.ui-datepicker span:focus {
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

/* style the elements in the ui-header */
.ui-datepicker select {
  height: 20px;
  padding: 1px 0 0 0;
  border: 1px solid #dddddd;
  display: inline-block;
  font-family: arial, verdana, futura, helvetica;
  font-size: 11px;
  font-weight: bold;
  margin: 1px 0 0 0;
  width: 60px;
}
.ui-datepicker select.ui-datepicker-year {
  width: 47%;
  font-family: arial, verdana, futura, helvetica;
  font-size: 11px;
  font-weight: bold;
}
.ui-datepicker select.ui-datepicker-month {
  width: 47%;
  font-family: arial, verdana, futura, helvetica;
  font-size: 11px;
  font-weight: bold;
  margin: 0 3px 0 0;
}
.ui-datepicker input {
  float: left;
  height: 17px;
  padding: 1px 0 0 3px;
  border: 1px solid #dddddd;
  display: inline-block;
  font-family: arial, verdana, futura, helvetica;
  font-size: 11px;
  font-weight: bold;
  width: 45px;
  margin: 1px 3px 0 0;
}

/* weekpicker */
.ui-datepicker-week-col {
  text-align: center;
  width: 30px;
}
.ui-datepicker tr.ui-state-highlight {
  border: 0;
  background: #f6af39;
}

/* datetime picker */
.mwd-ui-datetimepicker {
  float: left;
  width: auto;
  padding: 0 1px 0 5px;
  margin: 0 0 0 5px;
  border-left: 1px solid #dddddd;
}
.mwd-ui-datetimepicker .time_slider_btn {
  width: 60px;
  height: 16px;
  cursor: pointer;
}
.mwd-ui-datetimepicker .time_slider_btn-zl {
  width: 122px;
}
.mwd-ui-datetimepicker .time_slider_max_btn {
  margin: 2px 0 0 0;
}
.mwd-ui-datetimepicker .time_slider_btn span {
  margin: 0 auto;
}
.mwd-ui-datetimepicker .time_slider_time {
  font-family: arial, verdana, futura, helvetica;
  position: relative;
  width: 0;
  height: 0;
  overflow: visible;
  color: #999999;
  font-size: 10px;
  left: 50%;
  margin: 10px 0 2px -33px;
}
.mwd-ui-datetimepicker .time_slider_maxtime {
  margin-top: -18px;
  margin-bottom: 30px;
}
.mwd-ui-datetimepicker .time_slider {
  margin: 0 auto;
  height: 132px;
}

/* timepicker */
.mwd-ui-timepicker .time_current_txt {
  float: left;
  width: auto;
  padding: 0 0 0 5px;
  height: 22px;
  line-height: 22px;
}
.mwd-ui-timepicker .time_sliderwrapper {
  margin: 0;
  padding: 10px 0 0 0;
  height: 45px;
}
.mwd-ui-timepicker .time_slider_btn {
  float: left;
  width: 16px;
  height: 30px;
  cursor: pointer;
}
.mwd-ui-timepicker .time_slider_btn span {
  margin-top: 6px;
}
.mwd-ui-timepicker .time_slider {
  float: left;
  width: 181px;
  margin: 10px 15px 0 15px;
}
.mwd-ui-timepicker .time_slider_time {
  font-family: arial, verdana, futura, helvetica;
  width: auto;
  color: #999999;
  font-size: 10px;
  float: left;
  margin: -27px 0 0 36px;
}
.mwd-ui-timepicker .time_slider_maxtime {
  float: right;
  margin: -27px 36px 0 0;
}
