@import "./bsvars";
@import "~bootstrap/scss/bootstrap.scss";
//
//$bs-datetimepicker-border-radius: $border-radius !default;
//$screen-sm-min: map-get($grid-breakpoints, sm) !default;
//$screen-md-min: map-get($grid-breakpoints, md) !default;
//$screen-lg-min: map-get($grid-breakpoints, lg) !default;
@import "~bootstrap4-datetimepicker/src/sass/bootstrap-datetimepicker-build";
//
//.bootstrap-datetimepicker-widget {
//  table.table-condensed {
//    @extend .table;
//    @extend .table-sm;
//    @extend .mb-0;
//
//    th, td {
//      @extend .border-0;
//    }
//  }
//}

body {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

p {
  margin: 0;
  padding: 0;
}

input, textarea, select {
  &:-webkit-autofill {
    -webkit-text-fill-color: inherit !important;
    -webkit-box-shadow: 0 0 0 1000px $white inset;
    transition: background-color 5000s ease-in-out 0s;
    &:hover, &:focus {
      -webkit-text-fill-color: inherit !important;
      -webkit-box-shadow: 0 0 0 1000px $white inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

input[type="checkbox"] {
  display: flex;
  align-items: center;
  width: auto;
  margin-top: 0.3em;
}

button, .btn-outline-primary {
  outline: none !important;
  box-shadow: none !important;
  padding: 0.3rem 0.75rem;
  &:hover, &:focus, &:hover {
    outline: none !important;
    box-shadow: none !important;
  }
}

label {
  color: $grey-500;
  font-size: small;
  font-weight: normal;
  margin-bottom: 2px;
  font-style: italic;
}

#nav_sm {
  margin: 0 0 30px 0;
  padding: 20px 0 0 100px;
  background: #000000;
  z-index: $zindex-sticky;
}

.menu, .nav-link {
  cursor: pointer
}

#content {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  .content {
    padding: 20px 20px 70px 60px;
  }
}

.nav-item {
  p {
    display: none;
    padding-left: 0.5rem;
  }
  &.active {
    p {
      display: inline-block;
    }
  }
}

.p-no-label {
  padding-top: 1.9rem;
}

.parsley-errors-list {
  position: absolute;
  top: 0.3rem;
  right: 1.7rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1rem;
  opacity: 0;
  color: $red;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.invisible {
  height: 0;
  overflow: hidden;
}

.strikethrough {
  text-decoration: line-through;
  color: $grey-500
}

;
.red {
  color: $red;
}

.none {
  display: none;
}

.modal-dialog {
  color: #000000;
}

.bootstrap-datetimepicker-widget {
  color: #656565;
  .fa {
    color: #656565;
  }
}